wgt-scratch-card{
	width: 0;
	height: 0;
}

wgt-scratch-card canvas.fullscreen-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
wgt-scratch-card .fixed-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

wgt-scratch-card canvas{
	pointer-events: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.scratch-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  pointer-events: none;
  overflow: hidden;
}

.scratch-wrapper .overlay_wrapper{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 100000;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s;
}


.scratch-wrapper .text_wrapper{
  height: 80%;
}


.scratch-wrapper .instruction_wrapper{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.scratch-wrapper .instruction_wrapper .scratch-instruction-text{
  margin: 0;
  text-align: center;
  display: block;
}

.scratch-icon svg,
.scratch-instruction-text {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
}

.scratch-icon {
  animation: scratchWiggle 2s ease-in-out infinite;
  transform-origin: center; /* ensures rotation is natural */
  display: inline-block;
}

@keyframes scratchWiggle {
  0%, 100% {
    transform: translate(-5px, -5px);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, 5px);
  }
}
