wgt-spin-wheel{
	position: relative;
	width: 100%;
	height: 100%;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
  overflow: hidden;
}

wgt-spin-wheel .spin-wheel-wrapper{
	width: 100%;
	height: 100%;
}

wgt-spin-wheel .instruction-block div{
	flex-grow: 1;
}

wgt-spin-wheel .instruction-block div > *,
wgt-spin-wheel .spin-container div > *{
	margin: 0;
}

wgt-spin-wheel .instruction-block{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
  position: absolute;
  bottom: 0;
}

wgt-spin-wheel .spin-container{
  box-sizing: border-box;
  width: 100%;
	max-width: 100%;
	height: 90%;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

wgt-spin-wheel .spinner{
  cursor: pointer;
	position: relative;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1 / 1;
	display: grid;
	align-items: center;
	grid-template-areas: "spinner";
	transform: rotate(calc(var(--rotate, 25) * 1deg));
	border-radius: 50%;
	/* border: 1px solid; */
}

wgt-spin-wheel .spinner * {
  grid-area: spinner;
}

wgt-spin-wheel .segment-label{
	position: relative;
	display: flex;
	align-items: center;
	width: 50%;
	height: 50%;
	transform-origin: center right;
	transform: rotate(var(--rotate)) translateX(15%);
	user-select: none;
}

wgt-spin-wheel .segment-inner img {
	width: 40%;
	height: 40%;
}

wgt-spin-wheel .spin-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*min-width: 50px;
  min-height: 50px;*/
  width: 20%;
/*  max-height: 20%;*/
/*  aspect-ratio: 1 / 1;*/
  z-index: 2;
  border-radius: 50%;
}

wgt-spin-wheel .spin-pointer svg{
  height: 100%;
}


/*wgt-spin-wheel .spin-pointer::after{
  content: "SPIN";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  inset: 0px;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
  font-size: clamp(5px, 1.5vh, 2rem);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  user-select: none;
  -webkit-text-stroke: 0.5px rgb(248, 248, 248);
  text-shadow: rgb(0, 0, 0) 0px 1px 4px;
  letter-spacing: 0.7px;
}

wgt-spin-wheel .spin-pointer::before{
	content: "";
    position: absolute;
    inset: 0px;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    border-radius: 0px 50% 50% 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(34, 34, 34);
    z-index: 2;
}*/

wgt-spin-wheel .pointer-border {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #ffffff;
  z-index: -1;
  animation: pointer_animation 2000ms infinite;
}

wgt-spin-wheel .spin-pointer .spin-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1px, 2vh, 2rem);
  color: rgb(255, 255, 255);
  user-select: none;
  -webkit-text-stroke: 0.5px rgb(248, 248, 248);
  text-shadow: rgb(0, 0, 0) 0px 1px 4px;
  letter-spacing: 0.7px;
}

.wheel-dividers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none; /* So clicks still hit the spinner */
}

.wheel-divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;          /* thickness of the line */
  height: 50%;
  background: #fff;    /* color of divider */
  transform-origin: center bottom;
}

/* Spinning animation */
wgt-spin-wheel .is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}


@keyframes pointer_animation {
  0% {
    width: 50%;
    height: 50%;
  }
  50% {
    width: 70%;
    height: 70%;
  }
  100% {
    width: 50%;
    height: 50%;
  }
}


